<!DOCTYPE html>
<html>
   <head>
      <meta charset=utf-8>
      <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
      <title>Open Spaceteam</title>
      <link href=/static/css/app.20bb3791e26b818b3ed347a8e46c7848.css rel=stylesheet>
   </head>
   <body>
      <div id=app></div>
      <script type=text/javascript src=/static/js/manifest.2ae2e69a05c33dfc65f8.js></script><script type=text/javascript src=/static/js/vendor.caf2c344bd64b4c87752.js></script><script type=text/javascript src=/static/js/app.5d4d011199ff682215dc.js></script>
   </body>
</html>